.image-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    
    li {
        margin: 10px 15px;
        word-break: break-word;
        width: calc(100% / 2 - 30px);
        transition: transform 1s ease;
        will-change: transform;

        > a {
            text-decoration: none;
            color: #333;
            display: block;

            &:hover,
            &:active {
                color: #f60;
            }
        }

        img {
            width: 100%;
        }

        &:hover {
            transform : scale(1.1);
        }

        .headline {
            margin: 12px 0 5px;
        }
        .tagline {
            font-size: 12px;
            margin: 0;
        }

        @media screen and (min-device-width: 768px) {
            width: calc(100% / 4 - 30px);
        }
        
        @media screen and (min-device-width: 1024px) {
            width: calc(100% / 6 - 30px);
        }
    }
}