<section class="container">
    <h1>{{home.title}}</h1>
    <p>{{home.description}}</p>
    {{> imageGallery}}
    <div class="component-container">
        <h1>{{home.optionText}}</h1>
        <div id="image-list-container">
        </div>
    </div>
</section>